
body {
    background-color: rgb(133, 174, 206); /* Light gray background */
    font-family: 'Arial', sans-serif;
}

.container-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background:#e1e8eb;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}


h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}


input.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}


button.btn {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    color: #fff;

    transition: background-color 0.3s ease;
}

button.btn:hover {
    background-color:  #4b1782;
}

a {
    color: #2575fc;
    text-decoration: none;
    font-size: 14px;
    margin: 10px 0;
    text-align: right;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .Login{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
  }
/* Loader Container (Background Overlay) */
#loader {
    display: flex; /* Hidden by default */ 
    height: 100vh;
    z-index: 1000;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

/* Spinning Loader Animation */
.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-top: 6px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
.blur-effect {
    filter: blur(5px);
    pointer-events: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 576px) {
    .container {
        width: 90%;
        padding: 20px;
    }
}


.successinput{
    border: 1px solid green !important;
}

.errorinput{
    border: 1px solid red !important;
}
/* .form-group input:focus{
outline: 0px  ;
}
.form-group .error{
    color: red;
    font-size: 16px;
    margin-top: 5px;
}
.form-input .success input{
    border-color: rgb(59, 127, 59);
}
.form-group .error input{
      border-color: red;
} */
